html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #FFFFFF; }

body, td, th, input, select, textarea, option, optgroup {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000; }

input[type='text'], input[type='password'] {
  padding: 2px; }

select {
  padding: 1px; }

a, a:visited {
  /*color: #003366;*/
  text-decoration: none;
  cursor: pointer; }

a img {
  border: 0; }

form {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button, input {
  *overflow: visible;
  line-height: 22px; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top;
  padding: 2px; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.invisible {
  visibility: hidden; }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.btn {
  display: inline-block;
  *display: inline;
  padding: 7px 20px 7px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 15px;
  line-height: 18px;
  *line-height: 20px;
  /*color: #333333;*/
  text-align: center;
  /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fa8564;
  border: 0;
  color: #fff;
  cursor: pointer; }
  .btn + .btn {
    margin-left: 12px; }
  .btn:hover, .btn.active, .btn:active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
    *background-color: #d9d9d9; }
  .btn.active, .btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
  .btn:first-child {
    *margin-left: 0; }
  .btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #fd6f47;
    *background-color: #d9d9d9;
    /* Buttons in IE7 don't get borders, so darken on hover */
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear; }
  .btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn.disabled, .btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .btn-large[class^="icon-"] {
    margin-top: 1px; }

.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px; }
  .btn-small[class^="icon-"] {
    margin-top: -1px; }

.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px; }

.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75); }

/*
.btn {
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}*/
.btn-primary {
  background-color: #0074cc;
  *background-color: #0055cc;
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }
  .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0055cc;
    *background-color: #004ab3; }
  .btn-primary:active, .btn-primary.active {
    background-color: #004099 \9; }

.btn-warning {
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }
  .btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #f89406;
    *background-color: #df8505; }
  .btn-warning:active, .btn-warning.active {
    background-color: #c67605 \9; }

.btn-danger {
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }
  .btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #bd362f;
    *background-color: #a9302a; }
  .btn-danger:active, .btn-danger.active {
    background-color: #942a25 \9; }

.btn-success {
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }
  .btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #51a351;
    *background-color: #499249; }
  .btn-success:active, .btn-success.active {
    background-color: #408140 \9; }

.btn-info {
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }
  .btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #2f96b4;
    *background-color: #2a85a0; }
  .btn-info:active, .btn-info.active {
    background-color: #24748c \9; }

.btn-inverse {
  background-color: #414141;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }
  .btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222222;
    *background-color: #151515; }
  .btn-inverse:active, .btn-inverse.active {
    background-color: #080808 \9; }

button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px; }

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0; }

button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px; }

button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px; }

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px; }

.btn-group {
  position: relative;
  *margin-left: .3em;
  *zoom: 1; }

.success {
  padding: 10px 10px 10px 33px;
  margin-bottom: 15px;
  background: #EAF7D9 url("../image/success.png") 10px center no-repeat;
  border: 1px solid #BBDF8D;
  color: #555555;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px; }

.warning {
  padding: 10px 10px 10px 33px;
  margin-bottom: 15px;
  background: #FFD1D1 url("../image/warning.png") 10px center no-repeat;
  border: 1px solid #F8ACAC;
  color: #555555;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px; }

.required {
  color: #FF0000;
  font-weight: bold; }

.error {
  margin-top: 3px;
  color: #FF0000;
  /*display: block;*/
  font-size: 12px;
  font-weight: normal; }

.help {
  color: #666;
  font-size: 11px;
  font-weight: normal;
  font-family: Verdana, Geneva, sans-serif;
  display: block; }

.icon {
  vertical-align: middle;
  cursor: pointer; }

.image {
  border: 1px solid #EEEEEE;
  padding: 10px;
  display: inline-block; }

.image img {
  margin-bottom: 5px; }

a.button, .list a.button {
  text-decoration: none;
  color: #FFF;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  background: #003A88;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -khtml-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px; }

.w50 {
  width: 50; }

.w60 {
  width: 60; }

.w70 {
  width: 70; }

.w90 {
  width: 90; }

.w100 {
  width: 100; }

.w120 {
  width: 120; }

.w500 {
  width: 500; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.vertical-bottom {
  vertical-align: bottom !important; }

.vertical-top {
  vertical-align: top !important; }

.vertical-middle {
  vertical-align: middle !important; }

.float-right {
  float: right !important; }

.float-left {
  float: left !important; }

.inline {
  display: inline !important; }

.inline-block {
  display: inline-block !important; }

.flex {
  display: flex !important; }

.table {
  display: table !important; }

.show {
  display: block !important; }

.hidden {
  display: none !important; }

#header .div1 {
  height: 56px;
  padding: 0px 30px;
  background: url("../image/header.png") repeat-x;
  min-width: 900px; }
#header .div2 {
  color: #FFFFFF;
  float: left;
  margin-top: 20px; }
  #header .div2 span {
    font-weight: bold; }
#header .div3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #FFF;
  text-align: right;
  padding: 15px 0px 0px 0px;
  float: right; }
#header #menu {
  background: url("../image/menu.png") repeat-x;
  position: relative;
  z-index: 1;
  height: 34px;
  clear: both;
  padding: 0px 30px;
  min-width: 900px; }
  #header #menu > ul.left {
    float: left; }
  #header #menu > ul.right {
    float: right; }
  #header #menu > ul {
    position: relative;
    margin: 0;
    padding: 0; }
    #header #menu > ul ul {
      list-style: none;
      margin: 0;
      padding: 0;
      background: url("../image/transparent.png"); }
    #header #menu > ul a {
      display: block;
      text-decoration: none; }
    #header #menu > ul li {
      float: left;
      list-style: none; }
      #header #menu > ul li + li {
        background: url("../image/split.png") center left no-repeat; }
      #header #menu > ul li ul {
        position: absolute; }
        #header #menu > ul li ul ul {
          margin: -29px 0 0 161px; }
        #header #menu > ul li ul li {
          padding: 2px;
          clear: both; }
          #header #menu > ul li ul li a {
            padding: 5px;
            margin: 1px;
            color: #FFFFFF;
            width: 147px; }
            #header #menu > ul li ul li a:hover {
              margin: 0px;
              border: 1px solid #BD4C14;
              background-color: #391706; }
    #header #menu > ul .top {
      padding: 10px 15px 5px 17px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      color: #FFFFFF;
      text-align: center; }
      .selected #header #menu > ul .top {
        background: url("../image/selected.png") repeat-x;
        color: #FFFFFF; }
    #header #menu > ul .parent {
      background-image: url("../image/arrow-right.png");
      background-position: 95% center;
      background-repeat: no-repeat; }

#container {
  height: 100%; }
  body > #container {
    height: auto;
    min-height: 100%; }
  #container #content {
    background: #FFFFFF url("../image/background.png") 0px 1px repeat-x;
    padding: 10px 30px 0px 30px;
    min-width: 900px;
    padding-bottom: 128px; }
    #container #content .box {
      margin-bottom: 15px; }
      #container #content .box > .heading {
        height: 38px;
        padding-left: 12px;
        padding-right: 7px;
        border: 1px solid #DBDBDB;
        background: url("../image/box.png") repeat-x;
        -webkit-border-radius: 7px 7px 0px 0px;
        -moz-border-radius: 7px 7px 0px 0px;
        -khtml-border-radius: 7px 7px 0px 0px;
        border-radius: 7px 7px 0px 0px; }
        #container #content .box > .heading h1 {
          margin: 0px;
          padding: 11px 0px 0px 0px;
          color: #003A88;
          font-size: 16px;
          float: left; }
          #container #content .box > .heading h1 img {
            float: left;
            margin-top: -1px;
            margin-left: 3px;
            margin-right: 8px; }
        #container #content .box > .heading .buttons {
          float: right;
          padding-top: 7px;
          margin-right: 5px; }
          #container #content .box > .heading .buttons .button {
            margin-left: 5px; }
      #container #content .box .content {
        padding: 10px;
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        min-height: 300px;
        overflow: auto; }
        #container #content .box .content h2 {
          text-transform: uppercase;
          color: #FF802B;
          font-size: 15px;
          font-weight: bold;
          padding-bottom: 3px;
          border-bottom: 1px dotted #000000; }
        #container #content .box .content .list {
          border-collapse: collapse;
          width: 100%;
          border-top: 1px solid #DDDDDD;
          border-left: 1px solid #DDDDDD;
          margin-bottom: 20px; }
          #container #content .box .content .list td {
            border-right: 1px solid #DDDDDD;
            border-bottom: 1px solid #DDDDDD; }
          #container #content .box .content .list tbody td {
            vertical-align: middle;
            padding: 10px 5px;
            background: #FFFFFF; }
          #container #content .box .content .list tbody tr:hover td {
            background-color: #FFFFCB; }
          #container #content .box .content .list thead td {
            background-color: #EFEFEF;
            padding: 15px 5px; }
            #container #content .box .content .list thead td a {
              color: #222222;
              font-weight: bold; }
          #container #content .box .content .list .left {
            padding: 7px;
            text-align: left !important;
            float: none !important; }
          #container #content .box .content .list .right {
            padding: 7px;
            text-align: right !important;
            float: none !important; }
          #container #content .box .content .list .center {
            padding: 7px;
            text-align: center !important;
            float: none !important; }
          #container #content .box .content .list .asc {
            padding-right: 15px;
            background: url("../image/asc.png") right center no-repeat; }
          #container #content .box .content .list .desc {
            padding-right: 15px;
            background: url("../image/desc.png") right center no-repeat; }
          #container #content .box .content .list tr.filter td, #container #content .box .content .list tr:hover.filter td {
            padding: 5px;
            background: #E7EFEF; }
  #container .tb-pagination-new {
    height: 40px;
    margin: 14px 0 30px;
    position: relative;
    text-align: center; }
    #container .tb-pagination-new .pagination {
      display: inline-block;
      height: 25px;
      margin-top: 10px; }
      #container .tb-pagination-new .pagination .page-wrap {
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        width: 40px;
        display: inline-block;
        position: relative; }
      #container .tb-pagination-new .pagination .page-num-wrap {
        display: inline-block;
        position: relative; }
      #container .tb-pagination-new .pagination .page-cur {
        font-weight: bold; }
      #container .tb-pagination-new .pagination .page-cur, #container .tb-pagination-new .pagination .page-hover {
        background: none repeat scroll 0 0 #FF6600;
        border: 1px solid #FF6600;
        color: white;
        display: block;
        font-size: 14px;
        height: 38px;
        line-height: 38px;
        overflow: hidden;
        position: relative;
        width: 38px; }
      #container .tb-pagination-new .pagination .bg {
        border: 1px solid #DFDFDF;
        bottom: 0;
        height: 38px;
        left: 0;
        overflow: hidden;
        position: absolute;
        width: 38px; }
      #container .tb-pagination-new .pagination .page-siblings {
        width: auto; }
      #container .tb-pagination-new .pagination .page-prev, #container .tb-pagination-new .pagination .page-next {
        border: 1px solid #DFDFDF;
        color: #9D9D9D; }
      #container .tb-pagination-new .pagination .page-next {
        margin-left: 5px; }
    #container .tb-pagination-new .page-split {
      float: left;
      padding: 0 15px; }
    #container .tb-pagination-new .pagination-page, #container .tb-pagination-new .pagination-count, #container .tb-pagination-new .pagination-form {
      color: #999999;
      float: left;
      line-height: 40px; }
    #container .tb-pagination-new .pagination-page a {
      color: #9D9D9D;
      font-family: Arial,SimSun;
      font-size: 14px;
      line-height: 40px;
      padding: 11px 15px;
      position: relative;
      z-index: 1; }
  #container .htabs {
    padding: 0px 0px 0px 10px;
    height: 30px;
    line-height: 16px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 15px; }
    #container .htabs a {
      border-top: 1px solid #DDDDDD;
      border-left: 1px solid #DDDDDD;
      border-right: 1px solid #DDDDDD;
      background: #FFFFFF url("../image/tab.png") repeat-x;
      padding: 7px 15px 6px 15px;
      float: left;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      color: #000000;
      margin-right: 2px;
      display: none; }
      #container .htabs a .selected {
        padding-bottom: 7px;
        background: #FFFFFF; }
  #container .vtabs a {
    display: none; }
    #container .vtabs a .selected {
      padding-right: 15px;
      background: #FFFFFF; }
  #container .vtabs a, #container .vtabs span {
    display: block;
    float: left;
    width: 160px;
    margin-bottom: 5px;
    clear: both;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background: #F7F7F7;
    padding: 6px 14px 7px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    color: #000000; }
    #container .vtabs a img, #container .vtabs span img {
      position: relative;
      top: 3px;
      cursor: pointer; }
  #container .vtabs-content {
    margin-left: 205px; }

.breadcrumb, .breadcrumb a {
  font-size: 12px;
  color: #666;
  margin-bottom: 15px; }

#footer {
  background: #FFFFFF url("../image/footer.png") repeat-x;
  height: 90px;
  padding-top: 38px;
  text-align: center;
  font-size: 12px;
  color: #333;
  position: relative;
  margin-top: -128px;
  clear: both; }
  #footer a {
    color: #333;
    text-decoration: underline; }

table.form {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; }

table.form > tbody > tr > td:first-child {
  width: 200px; }

table.form > tbody > tr > td {
  padding: 10px;
  color: #000000;
  border-bottom: 1px dotted #CCCCCC; }

.scrollbox {
  border: 1px solid #CCCCCC;
  width: 350px;
  height: 100px;
  background: #FFFFFF;
  overflow-y: scroll; }

.scrollbox img {
  float: right;
  cursor: pointer; }

.accordion-heading {
  background: #EFEFEF;
  border: 1px solid #DDDDDD;
  padding: 8px;
  font-weight: bold;
  font-size: 13px;
  color: #555555;
  margin-bottom: 15px; }

.accordion-heading a {
  float: right;
  margin-top: 1px;
  font-weight: normal;
  text-decoration: none; }

.accordion-content {
  padding: 0px 0px 15px 0px;
  overflow: auto; }

.scrollbox div {
  padding: 3px; }

.scrollbox div input {
  margin: 0px;
  padding: 0px;
  margin-right: 3px; }

.scrollbox div.even {
  background: #FFFFFF; }

.scrollbox div.odd {
  background: #E4EEF7; }

.overview {
  float: left;
  width: 49%;
  margin-bottom: 20px; }

.overview table {
  width: 100%; }

.overview td + td {
  text-align: right; }

.statistic {
  float: right;
  width: 49%;
  margin-bottom: 20px; }

.range {
  float: right;
  color: #FFF;
  vertical-align: middle; }

.range {
  padding-top: 1px;
  padding-right: 1px; }

.range, .range select {
  font-size: 11px; }

.latest {
  clear: both; }

.latest tbody td {
  background: #FFF; }

.dashboard-heading {
  background: #547C96;
  color: #FFF;
  border-bottom: 1px solid #8EAEC3;
  padding: 5px;
  font-size: 14px;
  font-weight: bold; }

.dashboard-content {
  background: #FCFCFC;
  border: 1px solid #8EAEC3;
  padding: 10px;
  min-height: 180px; }

.refresh {
  cursor: pointer;
  position: relative;
  top: 3px; }

table.list input[type=text], table.list select {
  width: 70%;
  padding: 0 10px; }

/*# sourceMappingURL=admin.css.map */
